@import "tailwindcss";

@source "../**/*.{astro,html,js,ts,jsx,tsx}";
@source inline('theme-{light,dark,accent}');

@import "locomotive-scroll/dist/locomotive-scroll.css";

@import "./theme.css";
@import "./utilities.css";
@import "./page-transition.css";
@import "./cookie-consent.css";

html {
    font-family: var(--font-sans);
    font-weight: 500;
}

body {
    background: var(--background);
    color: var(--foreground);
}

main > section {
    position: relative;
    background: var(--background);
    z-index: 1;
}

::selection {
    background-color: var(--foreground);
    color: var(--background);
    text-shadow: none;
}

.app {
  background-color: #090d14;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app > main {
  grid-area: main;
  overflow-y: auto;
}

main {
  z-index: 3;
  clip-path: inset(0% 0% 0% 0%);
  background-color: hsl(0, 0%, 100%);
}

main.is-previous-container {
  pointer-events: none;
  z-index: 1;
}

header {
  z-index: 4;
}

header.is-previous-container {
  pointer-events: none;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #13141e;
  z-index: 2;
}